* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  background: #242423;
  flex-direction: column;
  display: flex;
}

/* 
top
*/

.main__top {
  flex: 1;
  display: flex;
  padding: 15px 12px 0 12px;
}

.main__videos {
  flex: 1;
  background: #242423;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#video-grid {
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__right {
  /* display: flex; */
  display: none;
  flex-direction: column;
  min-width: 250px;
  flex: 0.3;
  padding: 15px 20px;
  background-color: #e8eddf;
  border-radius: 8px;
}

.main__header__heading {
  margin-bottom: 10px;
  color: #252525;
}

.cross {
  display: flex;
  cursor: pointer;
}

.cross i {
  font-size: 24px;
  color: #545454;
}

/* 
Bottom
*/

.main__controls {
  align-items: center;
  color: #fff;
  display: flex;
  text-align: center;
  white-space: nowrap;
  z-index: 100;
  padding: 15px 12px;
}

.main__controls__block {
  display: flex;
  align-items: center;
  display: flex;
  flex: 1 1 25%;
  gap: 10px;
}

.main__controls__left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

#uuid {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__controls__middle {
  justify-content: flex-start;
  justify-content: center;
  margin: 0 5px;
}

.main__controls__right {
  justify-content: flex-end;
  gap: 15px;
}

.main__controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  min-width: 38px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8eddf;
}

.main__controls__button:hover {
  border-radius: 5px;
  border-radius: 50%;
}

.main__controls__button i {
  font-size: 15.5px;
  color: #000;
}

.main__controls__button__type2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.main__controls__button__type2:hover {
  border-radius: 5px;
  border-radius: 50%;
}

.main__controls__button__type2 i {
  font-size: 16px;
  color: #fff;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: #252525;
  list-style: none;
  padding-left: 8px;
}

.main__message_container {
  padding: 5px 0;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: #daded2;
  border: none;
  color: #000;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 12px;
}

.main__message_container input:focus {
  outline: none;
}

.bg-red {
  background-color: #eb534b;
}

.bg-yellow {
  background-color: #f5cb5c;
}

.clr-yellow {
  color: #f5cb5c !important;
}

.unmute,
.stop {
  color: #cc3b33;
}
#clr {
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 6px 4px;
  background: #a6a6a6;
  margin: 10px 20px;
}
#clr:hover {
  background: #2b2a2a;
  color: white;
}
.wbControls{
  margin: 0 20px;
  padding: 6px;
}
.wbControls:hover{
  background: rgb(138, 138, 138)
}